.checkout-container {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  @media screen and (max-width:800px){
    width:100%;
    margin: 0px;
    overflow-x: hidden;
  }

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;
      @media screen and (max-width:800px){
        width: fit-content;
      }
      &:last-child {
        width: 19%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
    @media screen and (max-width:800px){
      font-size: 20px;
      margin-top: 15px;
      margin-left: 5%;
    }
  }
}